{% extends "layout_unbranded.html" %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service. This is a service currently being designed. '
}) }}

<a href="index.html" class="govuk-back-link">Back to <span class="govuk-!-font-weight-bold">overall assessment view</span></a>
{% endblock%}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-two-thirds question">

            <h2 class="govuk-heading-l">Skills and expertise</h2>

            <details class="govuk-!-margin-top-6 govuk-details" data-module="govuk-details">
        
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help me with guidance on scoring this section
                </span>
              </summary>
              <div class="govuk-details__text">
                <h3 class="govuk-!-margin-top-2 govuk-heading-s">Applications will be assessed on the following
                  4 criteria:</h3>
      
                <p class="govuk-!-margin-top-0 govuk-body"><strong>1. Strategic case:</strong> applicants should
                  show that
                  without intervention the asset would be lost to the community, the impacts that this would
                  have and support they have from the community and other partners.
                </p>
      
                <p class="govuk-!-margin-top-0 govuk-body"><strong>2. Management case:</strong> applicants
                  should show the
                  objectives and deliverability of the project and how the asset or amenity will be run
                  sustainably.
                </p>
      
                <p class="govuk-!-margin-top-0 govuk-body"><strong>3. Potential to deliver community
                    benefit:</strong> using the
                  outcomes framework, applicants should show how the asset will deliver community benefits
                  under community ownership.
                </p>
      
                <p class="govuk-!-margin-top-0 govuk-body"><strong>4. Added value of the community asset based
                    on
                    community need:</strong> using local data and information on community need, applicants
                  should be
                  able to show the added value of the asset or amenity to the community.
                </p>
      
                <a href="#" class="govuk-link govuk-link--no-visited-state">Read the full guidance</a>
      
              </div>
            </details>

            <p class="govuk-body">We have two project directors with experience in running successful city centre regeneration projects. We will be hiring one more and then beginning an overall organisation change programme which upskills our workforce over the next six months. 
            </p>
            <p class="govuk-body">We have established an internal focus team called Onwards Hedgehill to keep the work on track. Included in that team are permanent staff with backgrounds in regeneration and construction projects. </p>
            <p class="govuk-body">Our board includes:
              <ul class="govuk-list govuk-list--bullet">
                <li>    John Oak, who has internal experience as part of the Malaysia Up programme </li>
                <li>    Omid P Taj PhD, lead investor on the North Together scheme </li>
                <li>    Karen Sail, who has been on the board of several London regeneration projects </li>
              </ul>
            </p>
        
                <div id="skills-expertise">
                    <h3 class="govuk-heading-m govuk-!-margin-top-7">Score this section</h3>
                    <p>Give this answer a score out of 5. This will automatically contribute to the overall score for the
                      assessment.</p>
                    <form action="#skills-expertise" method="" class="form">
            
                        {% if data['skills-expertise'] %}

                        <div id="score-view">
                          <p>You scored this section a: <span style="float:right"><a id="score-toggle" href="">edit</a></span>
                          </p>
                          <p class="govuk-!-font-weight-bold govuk-!-font-size-36">{{ data['skills-expertise'] }}/5</p>
                          <div class="govuk-form-group govuk-!-margin-top-7">
                            <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                What was the reasoning for this score?
                              </legend>
                              <div class="govuk-radios" data-module="govuk-radios">
                                {% if data['skills-expertise'] == "1" %}
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason" name="skills-expertise-reason" type="radio"
                                    value="reason-1">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason">
                                    Limited evidence or suitable data sources provided
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-2" name="skills-expertise-reason" type="radio"
                                    value="reason-2">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-2">
                                    Has no appropriate outputs or outcomes
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-3" name="skills-expertise-reason" type="radio"
                                    value="reason-3">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-3">
                                    Lacks realism behind proposed ideas
                                  </label>
                                </div>
                                {% elseif data['skills-expertise'] == "2" %}
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason" name="skills-expertise-reason" type="radio"
                                    value="reason-1">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason">
                                    Provides little evidence and relevant data sources to support some of their proposed ideas
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-2" name="skills-expertise-reason" type="radio"
                                    value="reason-2">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-2">
                                    Makes few references to appropriate outputs or outcomes
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-2" name="skills-expertise-reason" type="radio"
                                    value="reason-2">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-2">
                                    Has some realistic ideas, others are unrealistic
                                  </label>
                                </div>
                                {% elseif data['skills-expertise'] == "3" %}
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason" name="skills-expertise-reason" type="radio"
                                    value="reason-1">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason">
                                    Provides some evidence and relevant data sources to support proposed ideas
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-2" name="skills-expertise-reason" type="radio"
                                    value="reason-2">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-2">
                                    Makes some reference to appropriate outputs or outcomes
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-3" name="skills-expertise-reason" type="radio"
                                    value="reason-3">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-3">
                                    Provides some sound estimations and numeric targets to support their thinking
                                  </label>
                                </div>
                                {% elseif data['skills-expertise'] == "4" %}
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason" name="skills-expertise-reason" type="radio"
                                    value="reason-1">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason">
                                    There is some evidence linked to the proposed outputs and outcomes
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-2" name="skills-expertise-reason" type="radio"
                                    value="reason-2">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-2">
                                    Some well-presented thinking and good logic behind the proposed ideas
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-2" name="skills-expertise-reason" type="radio"
                                    value="reason-3">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-2">
                                    Provides a good range of sound estimations and numeric targets to support their thinking
                                  </label>
                                </div>
                                {% elseif data['skills-expertise'] == "5" %}
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason" name="skills-expertise-reason" type="radio"
                                    value="reason-1">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason">
                                    Evidence is robust and clearly linked to proposed outputs and outcomes
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-2" name="skills-expertise-reason" type="radio"
                                    value="reason-2">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-2">
                                    Well-presented thinking and sound logic behind the proposed ideas
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="skills-expertise-reason-2" name="skills-expertise-reason" type="radio"
                                    value="reason-2">
                                  <label class="govuk-label govuk-radios__label" for="skills-expertise-reason-2">
                                    Provides an excellent range of sound estimations and numeric targets to fully support their thinking
                                  </label>
                                </div>
                                {% endif %}   
                              </div>
            
                            </fieldset>
                            <button class="govuk-button govuk-button--secondary govuk-!-margin-top-7"
                              data-module="govuk-button">
                              Add an additional comment
                            </button>
                          </div>
                        </div>
            
                        {% else %}
            
                      <div id="score-edit" class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="skills-expertise-5" name="skills-expertise" type="radio" value="5">
                          <label class="govuk-label govuk-radios__label" for="skills-expertise-5">
                            <span class="govuk-!-font-weight-bold">5</span> Excellent
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="skills-expertise-4" name="skills-expertise" type="radio" value="4">
                          <label class="govuk-label govuk-radios__label" for="skills-expertise-4">
                            <span class="govuk-!-font-weight-bold">4</span> Good
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="skills-expertise-3" name="skills-expertise" type="radio" value="3">
                          <label class="govuk-label govuk-radios__label" for="skills-expertise-3">
                            <span class="govuk-!-font-weight-bold">3</span> Satisfactory
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="skills-expertise-2" name="skills-expertise" type="radio" value="2">
                          <label class="govuk-label govuk-radios__label" for="skills-expertise-2">
                            <span class="govuk-!-font-weight-bold">2</span> Moderate
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="skills-expertise-1" name="skills-expertise" type="radio" value="1">
                          <label class="govuk-label govuk-radios__label" for="skills-expertise-1">
                            <span class="govuk-!-font-weight-bold">1</span> Limited
                          </label>
                        </div>
                      </div>
            
                      <div class="govuk-button-group govuk-!-margin-top-7">
                        <button class="govuk-button" data-module="govuk-button">
                          Save score
                        </button>
            
            
                      </div>
                      {% endif %}
            
                    </form>
            
            
                  </div>
            
                  <form action="/baseline-assessment/delivery-partner" method="POST" class="form">
            
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                          <h3 class="govuk-!-margin-top-4 govuk-heading-m">
                            Do you want to submit your final score for this section? </h3>
                        </legend>
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="skills-expertise-complete"
                              name="skills-expertise-complete" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="skills-expertise-complete">
                              Yes
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="skills-expertise-complete-2"
                              name="skills-expertise-complete" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="skills-expertise-complete-2">
                              No
                            </label>
                          </div>
                        </div>
            
                        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                          Confirm total score
                        </button>
            
            
                      </fieldset>
                    </div>
                  </form>
        
        </div>

        <div class="govuk-grid-column-one-third scoring">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              
              <h2 class="govuk-fieldset__heading">
                  Fund information
              </h2>
          </legend>
    
          <h3 class="govuk-!-margin-top-6 govuk-!-margin-bottom-0 govuk-heading-s">Reference:</h3>
          <p class="govuk-!-margin-top-0 govuk-body">COF/2/0047</p>
    
          <h3 class="govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-heading-s">Fund:</h3>
          <p class="govuk-!-margin-top-0 govuk-body">Community ownership fund</p>
    
          <h3 class="govuk-!-margin-bottom-0 govuk-heading-s">Round:</h3>
          <p class="govuk-!-margin-top-0 govuk-body">2</p>
        </div>

    </div>

    {% endblock %}