<div class="govuk-form-group">
    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="benefits-who-name">
        Who does your project benefit?
    </label></h2>
    <div id="benefits-name-hint" class="govuk-hint">
        This can be an organisation or a group of people.     
    </div>
    <input class="govuk-input" id="benefits-who-name" name="benefits-who-name" type="text" spellcheck="false" aria-describedby="benefits-name-hint">

    <h2 class="govuk-label-wrapper govuk-!-margin-top-6"><label class="govuk-label govuk-label--m" for="benefits-quant">
        How can you prove this quantitatively?
    </label></h2>
    <div id="benefits-quant-hint" class="govuk-hint">
        Quantitative data refers to information that can be counted or measured.  
    </div>
    <textarea class="govuk-textarea" id="benefits-quant" name="benefits-quant" rows="5" aria-describedby="benefits-quant-hint"></textarea>

    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="benefits-qual">
        How can you prove this qualitatively?
        </label>
    </h2>
    <div id="benefits-qual-hint" class="govuk-hint">
        Qualitative data refers to information that describes the quality of an experience or interaction.
    </div>
    <textarea class="govuk-textarea" id="benefits-qual" name="benefits-qual" rows="5" aria-describedby="benefits-qual-hint"></textarea>

    <a href="#" class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-margin-top-2 govuk-!-display-inline-block">Add another beneficiary</a>

</div>
