<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Will you work with a delivery partner on the project?
        </h2>
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="delivery-partner" name="delivery-partner" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="delivery-partner-2" name="delivery-partner" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            No
          </label>
        </div>
      </div>
  
    </fieldset>
  </div>