<div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Do you have the  internal resource needed to deliver this project?
        </h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
  
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="delivery-internal-resource" name="delivery-internal-resource" type="radio" value="yes" data-aria-controls="conditional-delivery-yes">
          <label class="govuk-label govuk-radios__label" for="delivery-internal-resource">
            Yes
          </label>
        </div>
  
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-delivery-yes">
  
          <div class="govuk-form-group">
            <label class="govuk-label" for="internal-resource-yes">
                Tell us how you worked that out
            </label>
            <textarea class="govuk-textarea" id="internal-resource-yes" name="internal-resource-yes" rows="5"></textarea>
          </div>
          
        </div>
  
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="delivery-internal-resource-02" name="delivery-internal-resource" type="radio" value="no" data-aria-controls="conditional-delivery-no">
          <label class="govuk-label govuk-radios__label" for="delivery-internal-resource-02">
            No
          </label>
        </div>
  
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-delivery-no">
  
          <div class="govuk-form-group">
            <label class="govuk-label" for="internal-resource-no">
              Tell us how you're going to recruit the resource you need
            </label>
            <textarea class="govuk-textarea" id="internal-resource-no" name="internal-resource-no" rows="5"></textarea>
          </div>
          
        </div>
  
    </fieldset>
  </div>