<div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Who is endorsing your application?
        </h2>
      </legend>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="endorsement-mp" name="endorsement-mp" type="checkbox" value="member-parliament" data-aria-controls="conditional-endorsement">
          <label class="govuk-label govuk-checkboxes__label" for="endorsement-mp">
            Member of Parliament (MP)
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-endorsement">
          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
                Upload evidence to support your answer
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>
    </fieldset>
    <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-6 govuk-!-display-block">Add another endorsement</a>
  </div>