<div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Do you have endorsements to support your application?
        </h2>
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="endorsement" name="endorsement" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="endorsement">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="endorsement-2" name="endorsement" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="endorsement-2">
            No
          </label>
        </div>
      </div>
  
    </fieldset>
  </div>