<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Who will govern your project?
      </h2>
    </legend>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="governance-role">
        Roles
      </label>
      <input class="govuk-input" id="governance-role" name="governance-role" type="text">
    </div>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="governance-responsibility">
        Responsibility
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="governance-responsibility" name="governance-responsibility" type="text">
    </div>
  
  </fieldset>