<div class="govuk-form-group">
    <h2 class="govuk-label-wrapper"><label  class="govuk-heading-m govuk-!-margin-top-8" for="event-name">
        What do you want to know?
      </label>
    </h2>
    <input class="govuk-input" id="event-name" name="event-name" type="text">

    <h2 class="govuk-label-wrapper"><label  class="govuk-heading-m govuk-!-margin-top-8" for="event-name">
      How will you know it?
    </label>
    </h2>
    <input class="govuk-input" id="event-name" name="event-name" type="text">

    <h2 class="govuk-label-wrapper"><label  class="govuk-heading-m govuk-!-margin-top-8" for="event-name">
      Where will the data come from?
    </label>
  </h2>
  <input class="govuk-input" id="event-name" name="event-name" type="text">

  <h2 class="govuk-label-wrapper"><label  class="govuk-heading-m govuk-!-margin-top-8" for="event-name">
    Who will capture the data?
  </label>
  </h2>
  <input class="govuk-input" id="event-name" name="event-name" type="text">

    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-top-8">
        When will data be captured?
      </legend>

    <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                    name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                    name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                    name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
        </div>
      </div>
    </fieldset>

    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m govuk-!-margin-top-8" for="cost">
      How much will it cost?
    </label>
    </h2>
    <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-!-width-one-third" id="cost" name="cost" type="text" spellcheck="false">

    </div>

    <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-6 govuk-!-display-inline-block">Add another indicator</a>

  </div>