    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        What activities will take place during your project?
      </h2>
    </legend>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="project-activity">
        Activity
      </label>
      <input class="govuk-input" id="project-activity" name="project-activity" type="text" autocomplete="address-line1">
    </div>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="project-duration">
        Duration
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="project-duration" name="project-duration" type="text" autocomplete="address-level2">
    </div>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="project-cost">
        Cost
      </label>
      <input class="govuk-input govuk-input--width-10" id="project-cost" name="project-cost" type="text" autocomplete="postal-code">
    </div>
  
  </fieldset>

  <a href="#" class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-margin-top-2 govuk-!-display-inline-block">Add another activity</a>

  