<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="project-start-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          When will your project start?
        </h2>
      </legend>
      <div id="project-start-hint" class="govuk-hint">
        For example, 3 2022
      </div>
      <div class="govuk-date-input" id="project-start">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="project-start-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="project-start-month" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="project-start-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="project-start-year" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>