{% extends "layout.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Community Ownership Fund application form
        </h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>

        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> About your organisation
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="eligibility-status">
                                Check eligibility
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                            started</strong>
                    </li>
                </ul>
            </li>


            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Overview of your project
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="company-information-status">
                                Company information
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                            started</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Strategic case
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="company-information-status">
                                Company information
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                            started</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span> Management case
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="company-information-status">
                                Company information
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                            started</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">5. </span> Potential to deliver community benefits
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="company-information-status">
                                Company information
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                            started</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">6. </span> Added value to the community
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="company-information-status">
                                Company information
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                            started</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">7. </span> Publicly owned assets
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="company-information-status">
                                Company information
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                            started</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">8. </span> Subsidy control/State aid
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="company-information-status">
                                Your Subsidy control / State aid declaration
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                            started</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">9. </span> Additional documents
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="company-information-status">
                                Additional documents
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                            started</strong>
                    </li>
                </ul>
            </li>





        </ol>
    </div>
</div>

{% endblock %}