{% extends "layout_with_breadcrumb.html" %}

{% block pageTitle %}
Start your application
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service. This is a service currently being designed. '
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Society and culture</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Community and society</a>
        </li>
    </ol>
</div>


{% endblock%}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            You told us you do not have match funding in place
        </h1>

        <p class="govuk-body">
            For the first round of bidding, applicants are not required to have all match funding sources secured at the
            time of project application.</p>

        <p class="govuk-body">
            Capital funding for successful projects may be awarded in principle. However, successful applicants will
            need to demonstrate that they are able to secure the full project funds within <strong>6 months of application</strong>.</p>

        <p class="govuk-body">
            There will be other opportunities to apply for funding after this round.</p>

        <p class="govuk-body">
            <a href="https://www.gov.uk/government/publications/community-ownership-fund-prospectus/community-ownership-fund-prospectus#overview" class="govuk-link" rel="noreferrer noopener" target="_blank">For more information about when
                subsequent rounds open</a>, please read the guidance.
        </p>

        <p class="govuk-body">
            If you’d like further assistance or support with your application to help with match funding, then email
            <a href="mailto:COF@communitites.gov.uk?subject=Support%20with%20your%20COF%20application" class="govuk-link" rel="noreferrer noopener" target="_blank">COF@communities.gov.uk
            </a>
        </p>


        <div>
            <a href="/version-2/project-eligibility" role="button" draggable="false"
                class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-8" data-module="govuk-button">
                Continue
            </a>
        </div>

    </div>


</div>
{% endblock %}