{% extends "layout_with_breadcrumb.html" %}

{% block pageTitle %}
  Emma's fsd playground
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Does your application comply with all relevant environmental standards?
          </legend> 
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with environmental standards
              </span>
            </summary>
            <div class="govuk-details__text">
                Environmental standards require you to:
            </div>
          </details>
          <div class="govuk-radios" data-module="govuk-radios">
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="environmental-standards-1" name="environmental-standards" type="radio" value="yes" data-aria-controls="conditional-environmental-standards">
              <label class="govuk-label govuk-radios__label" for="environmental-standards-1">
                Yes
              </label>
            </div>
      
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-environmental-standards">
              <div class="govuk-form-group">
                <label class="govuk-label" for="organisation-delivery-upload">
                  Upload evidence to support your answer
                </label>
                <input class="govuk-file-upload" id="environmental-standards-upload" name="environmental-standards-upload" type="file">
              </div>
            </div>
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="environmental-standards-2" name="environmental-standards" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="environmental-standards-2">
                No
              </label>
            </div>
      
          </div>
      
        </fieldset>
      </div>
    </div>
          
        
  </div>
{% endblock %}
