{% extends "layout_with_breadcrumb.html" %}

{% block pageTitle %}
  Emma's fsd playground
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Type of organisation
          </legend>
          
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="organisation-type-1" name="organisation-type" type="radio" value="local-authority" data-aria-controls="conditional-organisation-type">
              <label class="govuk-label govuk-radios__label" for="organisation-type-1">
                Local authority
              </label>
            </div>
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="organisation-type-2" name="organisation-type" type="radio" value="mayoral-authority" data-aria-controls="conditional-organisation-type">
              <label class="govuk-label govuk-radios__label" for="organisation-type-2">
                Mayoral authority
              </label>
            </div>
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="organisation-type-3" name="organisation-type" type="radio" value="limited-company" data-aria-controls="conditional-registration-number">
              <label class="govuk-label govuk-radios__label" for="organisation-type-3">
                Limited company
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-registration-number">
              <div class="govuk-form-group">
                <label class="govuk-label" for="registration-number">
                  Enter your registration number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="registration-number" name="registration-number" type="number" spellcheck="false">
              </div>
            </div>
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="organisation-type-4" name="organisation-type" type="radio" value="registered-charity" data-aria-controls="conditional-organisation-type">
              <label class="govuk-label govuk-radios__label" for="organisation-type-4">
                Registered charity
              </label>
            </div>
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="organisation-type-5" name="organisation-type" type="radio" value="social-enterprise" data-aria-controls="conditional-organisation-type-5">
              <label class="govuk-label govuk-radios__label" for="organisation-type-5">
                Social enterprise
              </label>
            </div>
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="organisation-type-6" name="organisation-type" type="radio" value="other" data-aria-controls="conditional-organisation-type-6">
              <label class="govuk-label govuk-radios__label" for="organisation-type-6">
                Other
              </label>
            </div>
      
          </div>
      
        </fieldset>
      </div>
    </div>
          
        
  </div>
{% endblock %}
