{% extends "layout_with_breadcrumb.html" %}

{% block pageTitle %}
  Emma's fsd playground
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="200">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="project-description">
                Project description
            </label>
          <div id="project-description" class="govuk-hint">
            Describe your project in more detail
          </div>
          <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info"></textarea>
        </div>
      
        <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 200 words
        </div>
      
      </div>
    </div>
          
        
  </div>
{% endblock %}
