{% extends "layout_with_breadcrumb.html" %}

{% block pageTitle %}
  Emma's fsd playground
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="25">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="word-count">
              Describe how your project will impact people with protected characteristics
            </label>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help with protected characteristics
                </span>
              </summary>
              <div class="govuk-details__text">
                The characteristics that are protected by the Equality Act 2010 are:
                <ul class="govuk-list govuk-list--bullet">
                  <li>age</li>
                  <li>disability</li>
                  <li>gender reassignment</li>
                  <li>marriage or civil partnership (in employment only)</li>
                  <li>pregnancy and maternity</li>
                  <li>race</li>
                  <li>religion or belief</li>
                  <li>sex</li>
                  <li>sexual orientation</li>
                </ul>
              </div>
            </details>
          <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="5" aria-describedby="word-count-info"></textarea>
        </div>
      
      </div>

    </div>
          
        
  </div>
{% endblock %}

