{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
  text: "prototype"
  },
  html: 'This is not a live service. This is a service currently being designed. '
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Declarations</h1>

      <form class="form" action="about-you" method="post">

        {% include "question-includes/state-aid.html" %}

        {% include "question-includes/protected-characteristics.html" %}

        {% include "question-includes/environmental-standards.html" %}

        {% include "question-includes/data-protection.html" %}

        <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}