{% extends "layout_with_breadcrumb.html" %}

{% block pageTitle %}
Start your application
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service. This is a service currently being designed. '
}) }}

{% endblock%}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">About you</h1>

    <div class="govuk-form-group govuk-!-margin-top-7">
      <label class="govuk-label govuk-label--m" for="passport-number">
        Name
      </label>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>

    <div class="govuk-form-group govuk-!-margin-top-6">
      <label class="govuk-label govuk-label--m" for="passport-number">
        Email
      </label>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>

    <div class="govuk-form-group govuk-!-margin-top-6">
      <label class="govuk-label govuk-label--m" for="passport-number">
        Telephone
      </label>
      <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
    </div>

    <div class="govuk-form-group govuk-!-margin-top-6">
      <label class="govuk-label govuk-label--m" for="passport-number">
        Website
      </label>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>


    <div>
      <a href="/version-2/sport-asset" role="button" draggable="false"
        class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-8" data-module="govuk-button">
        Save and continue
      </a>
    </div>

  </div>


</div>
{% endblock %}