{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Version 0.1
      </h2>
      <h3 class="govuk-heading-m">Labels and probability of change</h3>
      <p>Our confidence relates to the level of risk. These tags are high (colour coded red), medium (yellow) and low (green). They’re based on 3 things:

      <ol class="govuk-list govuk-list--number">
        <li>The range of participants we’ve researched with.</li>
        <li>The design pattern’s prevalence – who else uses it?</li>
        <li>Our understanding of the question, why we're asking it and how we use it.</li>        
      </ol>

      <p>These tags quickly illustrate how confident we are with an interaction – what parts of the service should not change, could change or definitely will change.</p></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>No research, changes are probable =
          <span class="research-tag research-tag-high">High</span>
        </li>
        <li>Some research done, some changes are possible =
          <span class="research-tag research-tag-medium">Medium</span>
        </li>
        <li>Thoroughly researched, confident in pattern =
          <span class="research-tag research-tag-low">Low</span>
        </li>
      </ul>

      <ol class="govuk-list">
        <li><h3>Baseline Application Questions</h3></li>
        <ul class="govuk-list govuk-list--bullet">
          <h4 class="govuk-heading-m">About you</h4>
          <li>
            <a class="govuk-link" href="question-components/applicant-name.html">Full name</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/applicant-email.html">Email</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/applicant-phone.html">Telephone number</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/applicant-website.html">Website</a>
            <span class="research-tag research-tag-medium">Medium</span>
          </li>
        </ul>

        <ul class="govuk-list govuk-list--bullet">
          <h4 class="govuk-heading-m">About your organisation</h4>
          <li>
            <a class="govuk-link" href="question-components/organisation-name.html">Organisation name</a>
            <span class="research-tag research-tag-low">Low</span>          
          </li>
          <li>
            <a class="govuk-link" href="question-components/organisation-address.html">Organisation address</a>
            <span class="research-tag research-tag-medium">Medium</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/organisation-type.html">Type of organisation</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/organisation-project-delivery.html">Have you delivered projects like this before?</a>
          </li>
          <li>
            <a class="govuk-link" href="question-components/accountant-name.html">Accountant name</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/responsible-name.html">Responsible person name</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/endorsement.html">Do you have endorsements to support your application?</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/endorsement-mp.html">Who is endorsing your application</a>
            <span class="research-tag research-tag-medium">Medium</span>
          </li>
        </ul>

        <ul class="govuk-list govuk-list--bullet">
          <h4 class="govuk-heading-m">About your project</h4>
          <li>
            <a class="govuk-link" href="question-components/project-name.html">Project name</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/project-address.html">Project address</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/project-sector.html">Project sector</a>
            <span class="research-tag research-tag-medium">Medium</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/project-description.html">Project description</a>
            <span class="research-tag research-tag-high">High</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/project-summary.html">Project summary</a>
            <span class="research-tag research-tag-high">High</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/project-funding.html">How much money do you need</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/project-reason.html">Do you want funding for</a>
            <span class="research-tag research-tag-medium">Medium</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/policy-aims.html">What policy aims will your project deliver against</a>
            <span class="research-tag research-tag-medium">Medium</span>
          </li>
        </ul>

        <ul class="govuk-list govuk-list--bullet">
          <h4 class="govuk-heading-m">Declarations</h4>
          <li>
            <a class="govuk-link" href="question-components/state-aid.html">Would funding your organisation be classed as State Aid?</a>
            <span class="research-tag research-tag-high">High</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/protected-characteristics.html">Describe how your project will impact people with protected characteristics?</a>
            <span class="research-tag research-tag-high">High</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/environmental-standards.html">Does your application comply with all relevant environmental standards?</a>
            <span class="research-tag research-tag-high">High</span>
          </li>
          <li>
            <a class="govuk-link" href="question-components/data-protection.html">Data protection</a>
            <span class="research-tag research-tag-low">Low</span>
          </li>
        </ul>
    
        
      </ol>
      
    </div>
  </div>

{% endblock %}
