{% extends "layout_with_breadcrumb.html" %}

{% block pageTitle %}
  Emma's fsd playground
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Funding application prototypes
      </h1>


      <h2 class="govuk-heading-m">
        Latest work
      </h2>

      <ul class="govuk-list">
        <li>
          <p>Baseline application form draft (mural) built with questions as includes:</p>
          <a href="Section-questions/about-you.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">Baseline application questions</a>
        </li>
        <li>
          <a href="confidence.html">Confidence measuring template</a> - the aim</li>
        <li>
          <a href="https://mhclg.sharepoint.com/:x:/r/sites/FundingServiceDesignTeam/Shared%20Documents/Service%20and%20Interaction%20Design/Confidence%20Measuring/Baseline%20application%20confidence%20spec.xlsx?d=w4f3b90e9b04e4e4783ab21d9eb113f0f&csf=1&web=1&e=hKVE1m">Confidence measuring spec (sharepoint excel sheet)</a> - where we are now
        </li>
        <li><a href="https://app.mural.co/invitation/mural/mhclg2837/1641312769592?sender=u3308023dc28ca63fdbea2809&key=9bd69c4f-cb2f-4da8-bb42-afd110abfb7f">
          Confidence measuring - mural (original sticky note planning with Sarah & John)
        </a></li>
        <li><a href="ALT-Section-questions/about-you.html">
            Baseline application questions - experiments (branching, etc.)
          </a></li>
      </ul>
          
        
  </div>
{% endblock %}